<div ng-app="admin">
    <ng-view />
</div>

@section scripts {
    <script src="~/src/admin/module.js"></script>
    <script src="~/src/admin/authController.js"></script>
    <script src="~/src/admin/mainController.js"></script>
    <script src="~/src/admin/ordersController.js"></script>
    <script src="~/src/admin/productsController.js"></script>
}
